body{
    font-family:'Courier New', Courier, monospace;
}

h1{
    text-align: center;
}

h2, h3, a, p{
    font-size: medium;
}

h3{
    margin-left: 50px;
}

a, p{
    margin-left: 100px;
}

hr{
    margin-left: 150px;
    margin-right: 150px;
    color: rgb(235, 235, 235);
}

.credits{
    margin-block: -40px;
}

.back{
    margin-left: 0px;
}