body {
	text-align: center;
	color: #bb74b4;
	background-color: #424853;
	font-family: Shlop, monospace;
	font-size: 40px;
	margin-left: 100px;
	margin-right: 100px;
}

.theme{
	color: black;
	font-family: "Bungee";
	font-size: 50%;
	margin-top: -10px;
	margin-bottom: -10px;
	text-align: right;
}

.title{
	font-family: 'Bungee';
	background-color: black;
	background-image: url("/sparkling_star.gif");
	font-size: 50%;
	color: white;
	border: solid #818181;
}

.title img{
	margin-top: -50px;
	margin-bottom: -60px;
	width: 430px;
}

.pages{
	margin-top: 1%;
}

.socials{
	margin-top: 1%;
	background-color: #403b47;
	border: solid #5e425b;
}

.socials img{
	width: 86px;
	margin-top: 1%;
	margin-bottom: 0.5%;
}

/* visited and unvisited link */
a:link, a:visited, a:hover{
	color: #bb74b4;
	text-decoration: none;
}

/* selected link */
a:active {
	color: #B50D00;
	text-decoration: none;
}

@font-face {
	font-family: shlop;
	src: url(/shlop.ttf);
}

img{
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}